<%- include("partials/header"); -%>
    <h1 class="title">Contact</h1>
    <p style="margin-bottom: 5px;"> <%= contactContent %> </p>
    <a class="contact-links" href="mailto: ahilphulwani.sp@gmail.com"> • sahilphulwani.sp@gmail.com</a> <br>
    <a class="contact-links" href="https://sahil-phulwani.netlify.app/"> • personal website</a>

<%- include("partials/footer"); -%>
